In [1]:
import re

In [ ]:
name = 'Rob Mastrodomenico'
x = re.findall("[a-m]",name)
# finds all matching characters a thru m then passes the value to find it in 
x

['b', 'a', 'd', 'm', 'e', 'i', 'c']

In [3]:
# Find 0-9 in a sequence 
# \d gives all numerical values between 0 and 9 
import re
txt = 'Find all numerical values like 1, 2, 3'
x = re.findall("\d", txt)
x

<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\jseidl\AppData\Local\Temp\ipykernel_28076\981306771.py:5: SyntaxWarning: invalid escape sequence '\d'
  x = re.findall("\d", txt)

['1', '2', '3']

In [4]:
# Finding a similar string within text 
# "he..o" matches hello, helpo, helso
txt = "hello helpo hesoo"
x = re.findall("he..o",txt)
x

['hello', 'helpo', 'hesoo']

In [ ]:
# Matching patterns at start of a string
# uses the ^ symbol as a prefix

txt = "stands at the top"
x = re.findall("^stand",txt)
x

['stand']

In [ ]:
# Finding 0 or more counts of a value within any area of a string
# Use the * symbol after text you're looking for 

txt = "The rain in Spain falls mainly in the plain!"
x = re.findall ("aix*", txt)
# Finds 0 or more occurences of ai followed by x 
x

['ai', 'ai', 'ai', 'ai']

In [11]:
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall ("aix+", txt)
# Finds 1 or more occurences of ai followed by x 
x

[]

In [12]:
# Finding specific number of characters

txt = 'The cow said moo'
x = re.findall ("mo{2}", txt)
x

['moo']

In [14]:
txt = "The Avengers are earths mightiest heroes"
x = re.findall ("avengers | heroes", txt)
# avengers or heroes that match
x

[' heroes']

In [15]:
# Find White space

txt = "Is there whitespace"
x = re.findall ("\s", txt)
x

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\jseidl\AppData\Local\Temp\ipykernel_28076\421697542.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.findall ("\s", txt)

[' ', ' ']

In [16]:
# Split 
txt = "The rain in Spain"
x = re.split("\s", txt)
x

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\jseidl\AppData\Local\Temp\ipykernel_28076\1983760000.py:3: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt)

['The', 'rain', 'in', 'Spain']

In [17]:
# maxsplit 

txt = "The rain in Spain"
x = re.split("\s", txt, maxsplit=1)
x

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\jseidl\AppData\Local\Temp\ipykernel_28076\1303908076.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt, maxsplit=1)

['The', 'rain in Spain']

In [19]:
# maxsplit 

txt = "The rain in Spain"
x = re.split("\s", txt, maxsplit=2)
x

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\jseidl\AppData\Local\Temp\ipykernel_28076\1518443570.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt, maxsplit=2)

['The', 'rain', 'in Spain']

In [20]:
# Sub Method
# Like a replace method on a string
txt = "The rain in Spain"
x = re.sub ("\s", "9", txt)
# subs whitespace for the number 9
x

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\jseidl\AppData\Local\Temp\ipykernel_28076\2325096607.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub ("\s", "9", txt)

'The9rain9in9Spain'

In [21]:
# Sub method with a count of times to be split
txt = "The rain in Spain"
x = re.sub ("\s", "9", txt, 1)
x

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\jseidl\AppData\Local\Temp\ipykernel_28076\87419.py:3: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub ("\s", "9", txt, 1)
C:\Users\jseidl\AppData\Local\Temp\ipykernel_28076\87419.py:3: DeprecationWarning: 'count' is passed as positional argument
  x = re.sub ("\s", "9", txt, 1)

'The9rain in Spain'

In [23]:
# Span Method
# Returns a tuple of index ranges from the matching values
txt = "The rain in Spain"
x = re.search ("in", txt)
x.span()

(6, 8)